# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
number_i = 125
print(number_i)

125

##### Assinging float

In [5]:
number_f = 99.9
print(number_f)

99.9

#### Performing Calculations on ints and floats

##### Addition

In [13]:
a = 54
b = 22

sum_1 = a + b
print(sum_1)

sum_1+=5
print(sum_1)

76
81

##### Subtraction

In [15]:
diff_result = a - b
print(diff_result)

diff_result-=3
print(diff_result)

32
29

##### Multiplication

In [17]:
mul_result = a*b
print(mul_result)

mul_result*=2
print(mul_result)

1188
2376

##### Division

In [18]:
div_result = a/b
print(div_result)

div_result/=2
print(div_result)

2.4545454545454546
1.2272727272727273

##### Floor Division

In [20]:
fdiv_result = a//b
print(fdiv_result)

fdiv_result//=1.2
print(fdiv_result)

2
1.0

##### Modulo

In [21]:
mod_result = a%b
print(mod_result)

mod_result%=3
print(mod_result)

10
1

##### Exponential

In [23]:
c = 15
expo_result = c**2
print(expo_result)

expo_result**=3
print(expo_result)

225
11390625

### String Input-Output

##### String Assignment

In [38]:
company_name = "apple"
print(a.title())

Apple

##### print() <br>
<p>Don't forget about end=' '</p>

In [31]:
print("World's largest company by market capitlization is ", company_name.title(), end= '!')

World's largest company by market capitlization is  Apple!

##### String Concatenation

In [59]:
us_tech_company1 = 'Meta'
us_tech_company2 = 'Amazon'

biggest_tech_companies = us_tech_company1 +' '+us_tech_company2 
print(biggest_tech_companies)

Meta Amazon

##### Type Conversion

In [60]:
player_id = '18'
player_id = int(player_id)
print(type(player_id))
print(player_id)

<class 'int'>
18

##### input()

In [61]:
device_model = input("Enter the model of your device: ")
print("The user owns " + device_model)

Enter the model of your device: HP laptop computer
The user owns HP laptop computer

##### format()

In [62]:
car_model = input("What's the model of the car? ")
print(f"{car_model.title()} is available in our store!")

What's the model of the car? Bentley
Bentley is available in our store!

##### Old Way (python 2)

In [63]:
text_2 = "The customer is looking for %s since last week." %car_model
print(text_2)

The customer is looking for Bentley since last week.

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [65]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F
true_answers = 40

if true_answers == 20:
    print("Good job! You've scored 10 points.")
elif true_answers == 40:
    print("Excellent! You've scored 20 points.")
elif true_answers == 60:
    print("Exceptional! You'll get the prize! ")
else:
    print("Error occured. Please, try again.")

Excellent! You've scored 20 points.

In [54]:
customer_name = input("What's your name? ")
device_model = input("Enter the model of your device: ")
year = input("What year was it produced? ")
color = input("What color is it? ")
summary = f"{customer_name}, you own {color} colored, {year} {device_model}."
print(summary)

What's your name? Nurzaada
Enter the model of your device: Mackbook
What year was it produced? 2023
What color is it? silver
Nurzaada, you own silver colored, 2023 Mackbook.

### If Statements

##### 'is' keyword

In [5]:
a = [1, 2, 3]
b = a   
c = [1, 2, 3] 

print(a is b)  
print(a is c)  
print(a == c)

True
False
True

#'in' keyword
person = {'name': 'John', 'age': 30}

if 'name' in person:
    print('Name is a key in the dictionary.')
else:
    print('Name is not a key in the dictionary.')

if 'John' in person:
    print('"John" is a key in the dictionary.')
else:
    print('"John" is not a key in the dictionary. This is because "John" is a value, not a key.')

##### format()

In [2]:
mes = f"We are so excited to have you in our team, {name}!"
print(mes)

We are so excited to have you in our team, Alina!

##### 'not in' keyword'

In [70]:
labels = ['A', 'B', 'C', 'D']
if 'E' not in labels:
    print("'E' doesn't exist in the list.")

'E' doesn't exist in the list.

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [74]:
variable_p = input("Please , enter your message: ")
if 'p' in variable_p:
    print("The letter 'p' is here")
else: 
    print("The sentence does not contain the letter 'p'.")

Please , enter your message: The founders of the educational planforms were invited to a meeting with students.
The letter 'p' is here

## Using 'and'/'or' with If Statements

In [79]:
annual_salary = 100000
credit_score = 800

if annual_salary >= 100000 and credit_score >= 700:
    print("True and True")
if annual_salary >120000 or credit_score > 800:
    print("False or True")

True and True

### Elif Statements

In [81]:
test_result = int(input("Enter your test results: "))
if test_result >=90:
    print("Excelent!")
elif test_result == 75:
    print("Good job!")
elif test_result <= 50:
    print("Repeat the material and try again.")

Enter your test results: 92
Excelent!

### Else Statements

In [83]:

id_card = True
invitation = True
if id_card  and invitation:
    print("You can enter the building.")
else:
    print("Bring the required documents and reach us.")

You can enter the building.

### For Loops

In [89]:
for i in range(0,20,2):
    print(i, end = '')

024681012141618

##### Using 'in' keyword

In [90]:
Gryffindor = ['Hermione', 'Ron', 'Harry', 'Sirius']
if 'Hermione' in Gryffindor:
    print("Your dormitory is in Gryffindor tower.")

Your dormitory is in Gryffindor tower.

##### Continue Statement

In [92]:
for i in range(16):
    if i % 2 != 0:
        continue
    print(i)

0
2
4
6
8
10
12
14

##### Break Statement

In [93]:
for i in range(10):
    if i == 9:
        break
    print(i)

0
1
2
3
4
5
6
7
8

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [94]:
my_name = "Nurzaada"
for i in name:
    pass

##### Double For Loops

In [95]:
for i in range(3):
    for j in range(4):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3

### While Loops

In [97]:
point = 0
while point < 100:
    print(point, end ='')
    point+=10

0102030405060708090

##### Looping 'While True'

In [112]:
counting=1
while counting < 10:
    print(counting, end = '')
    counting+=1

123456789

##### While & For Loops Used Together

In [117]:
starting_point = 1
while starting_point < 10:
    for i in range(1,10):
        print("Keep going forward! ", i)
        starting_point+=1

Keep going forward!  1
Keep going forward!  2
Keep going forward!  3
Keep going forward!  4
Keep going forward!  5
Keep going forward!  6
Keep going forward!  7
Keep going forward!  8
Keep going forward!  9

### Built-In Functions

##### range()

In [121]:
for j in range(1,18,2):
    print(j, end = '')

1357911131517

##### len()

In [122]:
name = "Madina"
print(len(name))

6

##### help()

In [ ]:
#help function can be called to get more info about Python functions

##### isinstance()

In [123]:
text1 = input("Enter your text: ")
if isinstance(text1, str):
    print(f"{text1} is a string.")
elif isinstance(text1, int):
    print(f"{text1} is an int.")
elif isinstance(text1, float):
    print(f"{text1} is a float.")

Enter your text: Discrete Math
Discrete Math is a string.

##### abs()

In [124]:
print(abs(-12))

12

### Try and Except

In [132]:
try:
    year = 0
    year_of_birth = int(input("Year of birth: "))
    print("You were born in " + str(year_of_birth) )
except:
    print("Please, change your info to a number.")

Year of birth: 1998
You were born in 1998

### Lists

##### Declaring Lists

In [163]:
veggies = ['avocado', 'tomato', 'lettuce', 'red pepper', 'carrot', 'carrots']
print(veggies)

['avocado', 'tomato', 'lettuce', 'red pepper', 'carrot', 'carrots']

##### Indexing a List

In [164]:
print(veggies[-1])
print(veggies[:])
print(veggies[3:])
print(veggies[::-1])
print(veggies[1::3])

carrots
['avocado', 'tomato', 'lettuce', 'red pepper', 'carrot', 'carrots']
['red pepper', 'carrot', 'carrots']
['carrots', 'carrot', 'red pepper', 'lettuce', 'tomato', 'avocado']
['tomato', 'carrot']

##### .append()

In [172]:
veggies.append('carrot')
print(veggies)

['spinach', 'avocado', 'red pepper', 'carrot', 'carrots', 'carrot']

##### .insert()

In [173]:
veggies.insert(0, 'spinach')
print(veggies)

['spinach', 'spinach', 'avocado', 'red pepper', 'carrot', 'carrots', 'carrot']

##### .pop()

In [174]:
veggies.pop(1)
print(veggies)

['spinach', 'avocado', 'red pepper', 'carrot', 'carrots', 'carrot']


##### .remove()

In [175]:
veggies.remove('spinach')
print(veggies)
while 'carrot' in veggies:
    veggies.remove('carrot')
print(veggies)

['avocado', 'red pepper', 'carrot', 'carrots', 'carrot']
['avocado', 'red pepper', 'carrots']

##### del()

In [176]:
del(veggies[2])
print(veggies)

['avocado', 'red pepper']

##### Concatenating Two Lists

In [177]:
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = even_numbers + odd_numbers
print(all_numbers)

[2, 4, 6, 8, 1, 3, 5, 7]

##### Lists Within Lists

In [190]:
numbers = [1,2,3,4,5, [6, 8, 9], 10]
print(numbers)
print(numbers[5])

[1, 2, 3, 4, 5, [6, 8, 9], 10]
[6, 8, 9]

##### Looping Through Lists

In [184]:
all_numbers = [2,4,6,8,1,3,5,7]
for i in all_numbers:
    print(i, end = '')

24681357

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [231]:

for n in range(1, 1000):
    if n > 1000:
        break
    print(n**3,  end = ',')
    n+=1

1,8,27,64,125,216,343,512,729,1000,1331,1728,2197,2744,3375,4096,4913,5832,6859,8000,9261,10648,12167,13824,15625,17576,19683,21952,24389,27000,29791,32768,35937,39304,42875,46656,50653,54872,59319,64000,68921,74088,79507,85184,91125,97336,103823,110592,117649,125000,132651,140608,148877,157464,166375,175616,185193,195112,205379,216000,226981,238328,250047,262144,274625,287496,300763,314432,328509,343000,357911,373248,389017,405224,421875,438976,456533,474552,493039,512000,531441,551368,571787,592704,614125,636056,658503,681472,704969,729000,753571,778688,804357,830584,857375,884736,912673,941192,970299,1000000,1030301,1061208,1092727,1124864,1157625,1191016,1225043,1259712,1295029,1331000,1367631,1404928,1442897,1481544,1520875,1560896,1601613,1643032,1685159,1728000,1771561,1815848,1860867,1906624,1953125,2000376,2048383,2097152,2146689,2197000,2248091,2299968,2352637,2406104,2460375,2515456,2571353,2628072,2685619,2744000,2803221,2863288,2924207,2985984,3048625,3112136,3176523,3241792,3307949,3375000,3442951,3511808,3581577,3652264,3723875,3796416,3869893,3944312,4019679,4096000,4173281,4251528,4330747,4410944,4492125,4574296,4657463,4741632,4826809,4913000,5000211,5088448,5177717,5268024,5359375,5451776,5545233,5639752,5735339,5832000,5929741,6028568,6128487,6229504,6331625,6434856,6539203,6644672,6751269,6859000,6967871,7077888,7189057,7301384,7414875,7529536,7645373,7762392,7880599,8000000,8120601,8242408,8365427,8489664,8615125,8741816,8869743,8998912,9129329,9261000,9393931,9528128,9663597,9800344,9938375,10077696,10218313,10360232,10503459,10648000,10793861,10941048,11089567,11239424,11390625,11543176,11697083,11852352,12008989,12167000,12326391,12487168,12649337,12812904,12977875,13144256,13312053,13481272,13651919,13824000,13997521,14172488,14348907,14526784,14706125,14886936,15069223,15252992,15438249,15625000,15813251,16003008,16194277,16387064,16581375,16777216,16974593,17173512,17373979,17576000,17779581,17984728,18191447,18399744,18609625,18821096,19034163,19248832,19465109,19683000,19902511,20123648,20346417,20570824,20796875,21024576,21253933,21484952,21717639,21952000,22188041,22425768,22665187,22906304,23149125,23393656,23639903,23887872,24137569,24389000,24642171,24897088,25153757,25412184,25672375,25934336,26198073,26463592,26730899,27000000,27270901,27543608,27818127,28094464,28372625,28652616,28934443,29218112,29503629,29791000,30080231,30371328,30664297,30959144,31255875,31554496,31855013,32157432,32461759,32768000,33076161,33386248,33698267,34012224,34328125,34645976,34965783,35287552,35611289,35937000,36264691,36594368,36926037,37259704,37595375,37933056,38272753,38614472,38958219,39304000,39651821,40001688,40353607,40707584,41063625,41421736,41781923,42144192,42508549,42875000,43243551,43614208,43986977,44361864,44738875,45118016,45499293,45882712,46268279,46656000,47045881,47437928,47832147,48228544,48627125,49027896,49430863,49836032,50243409,50653000,51064811,51478848,51895117,52313624,52734375,53157376,53582633,54010152,54439939,54872000,55306341,55742968,56181887,56623104,57066625,57512456,57960603,58411072,58863869,59319000,59776471,60236288,60698457,61162984,61629875,62099136,62570773,63044792,63521199,64000000,64481201,64964808,65450827,65939264,66430125,66923416,67419143,67917312,68417929,68921000,69426531,69934528,70444997,70957944,71473375,71991296,72511713,73034632,73560059,74088000,74618461,75151448,75686967,76225024,76765625,77308776,77854483,78402752,78953589,79507000,80062991,80621568,81182737,81746504,82312875,82881856,83453453,84027672,84604519,85184000,85766121,86350888,86938307,87528384,88121125,88716536,89314623,89915392,90518849,91125000,91733851,92345408,92959677,93576664,94196375,94818816,95443993,96071912,96702579,97336000,97972181,98611128,99252847,99897344,100544625,101194696,101847563,102503232,103161709,103823000,104487111,105154048,105823817,106496424,107171875,107850176,108531333,109215352,109902239,110592000,111284641,111980168,112678587,113379904,114084125,114791256,115501303,116214272,116930169,117649000,118370771,119095488,119823157,120553784,121287375,122023936,122763473,123505992,124251499,125000000,125751501,126506008,127263527,128024064,128787625,129554216,130323843,131096512,131872229,132651000,133432831,134217728,135005697,135796744,136590875,137388096,138188413,138991832,139798359,140608000,141420761,142236648,143055667,143877824,144703125,145531576,146363183,147197952,148035889,148877000,149721291,150568768,151419437,152273304,153130375,153990656,154854153,155720872,156590819,157464000,158340421,159220088,160103007,160989184,161878625,162771336,163667323,164566592,165469149,166375000,167284151,168196608,169112377,170031464,170953875,171879616,172808693,173741112,174676879,175616000,176558481,177504328,178453547,179406144,180362125,181321496,182284263,183250432,184220009,185193000,186169411,187149248,188132517,189119224,190109375,191102976,192100033,193100552,194104539,195112000,196122941,197137368,198155287,199176704,200201625,201230056,202262003,203297472,204336469,205379000,206425071,207474688,208527857,209584584,210644875,211708736,212776173,213847192,214921799,216000000,217081801,218167208,219256227,220348864,221445125,222545016,223648543,224755712,225866529,226981000,228099131,229220928,230346397,231475544,232608375,233744896,234885113,236029032,237176659,238328000,239483061,240641848,241804367,242970624,244140625,245314376,246491883,247673152,248858189,250047000,251239591,252435968,253636137,254840104,256047875,257259456,258474853,259694072,260917119,262144000,263374721,264609288,265847707,267089984,268336125,269586136,270840023,272097792,273359449,274625000,275894451,277167808,278445077,279726264,281011375,282300416,283593393,284890312,286191179,287496000,288804781,290117528,291434247,292754944,294079625,295408296,296740963,298077632,299418309,300763000,302111711,303464448,304821217,306182024,307546875,308915776,310288733,311665752,313046839,314432000,315821241,317214568,318611987,320013504,321419125,322828856,324242703,325660672,327082769,328509000,329939371,331373888,332812557,334255384,335702375,337153536,338608873,340068392,341532099,343000000,344472101,345948408,347428927,348913664,350402625,351895816,353393243,354894912,356400829,357911000,359425431,360944128,362467097,363994344,365525875,367061696,368601813,370146232,371694959,373248000,374805361,376367048,377933067,379503424,381078125,382657176,384240583,385828352,387420489,389017000,390617891,392223168,393832837,395446904,397065375,398688256,400315553,401947272,403583419,405224000,406869021,408518488,410172407,411830784,413493625,415160936,416832723,418508992,420189749,421875000,423564751,425259008,426957777,428661064,430368875,432081216,433798093,435519512,437245479,438976000,440711081,442450728,444194947,445943744,447697125,449455096,451217663,452984832,454756609,456533000,458314011,460099648,461889917,463684824,465484375,467288576,469097433,470910952,472729139,474552000,476379541,478211768,480048687,481890304,483736625,485587656,487443403,489303872,491169069,493039000,494913671,496793088,498677257,500566184,502459875,504358336,506261573,508169592,510082399,512000000,513922401,515849608,517781627,519718464,521660125,523606616,525557943,527514112,529475129,531441000,533411731,535387328,537367797,539353144,541343375,543338496,545338513,547343432,549353259,551368000,553387661,555412248,557441767,559476224,561515625,563559976,565609283,567663552,569722789,571787000,573856191,575930368,578009537,580093704,582182875,584277056,586376253,588480472,590589719,592704000,594823321,596947688,599077107,601211584,603351125,605495736,607645423,609800192,611960049,614125000,616295051,618470208,620650477,622835864,625026375,627222016,629422793,631628712,633839779,636056000,638277381,640503928,642735647,644972544,647214625,649461896,651714363,653972032,656234909,658503000,660776311,663054848,665338617,667627624,669921875,672221376,674526133,676836152,679151439,681472000,683797841,686128968,688465387,690807104,693154125,695506456,697864103,700227072,702595369,704969000,707347971,709732288,712121957,714516984,716917375,719323136,721734273,724150792,726572699,729000000,731432701,733870808,736314327,738763264,741217625,743677416,746142643,748613312,751089429,753571000,756058031,758550528,761048497,763551944,766060875,768575296,771095213,773620632,776151559,778688000,781229961,783777448,786330467,788889024,791453125,794022776,796597983,799178752,801765089,804357000,806954491,809557568,812166237,814780504,817400375,820025856,822656953,825293672,827936019,830584000,833237621,835896888,838561807,841232384,843908625,846590536,849278123,851971392,854670349,857375000,860085351,862801408,865523177,868250664,870983875,873722816,876467493,879217912,881974079,884736000,887503681,890277128,893056347,895841344,898632125,901428696,904231063,907039232,909853209,912673000,915498611,918330048,921167317,924010424,926859375,929714176,932574833,935441352,938313739,941192000,944076141,946966168,949862087,952763904,955671625,958585256,961504803,964430272,967361669,970299000,973242271,976191488,979146657,982107784,985074875,988047936,991026973,994011992,997002999,

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [243]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
for i in range(1, 100):
    if i % 2 == 0:
        continue
    elif : 
        print(i, end = ',')

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [227]:
user_age = input("How old are you? ")
user_age = int(user_age)

if 1 <= user_age < 18:
    print("You are a kid!")
elif 18 <= user_age <= 65:
    print("You are an adult!")
else:
    print("You are a senior!")

How old are you? 18
You are an adult!